body {
    font-family: 'Droid Serif', serif;
    font-size: 17px;
    background-image: url("images/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.uk-notouch {
    height: 0;
}

h1 {
    color: #00a8e6;
}

hr {
   color: #00a8e6;
}

.pBottom {
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 2%;
}

#contenu {
    background-color: white;
    margin-bottom: 2%;
}

#leContenu {
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
}


#sousTitre {
    position: fixed;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    padding-left: 35px;
    padding-top: 175px;
}
#logo {
    padding-left: 20px;
    padding-top: 20px;
    position: fixed;
    width: 150px;
}

.uk-table uk-table-striped uk-table-condensed uk-table-hover {
    padding: 20px;
}