body {
    background: #EEE;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: #26C4EC;
}

.image {
    display:block;
    width:700px;
}

.toutPetit {
    font-size: 8px;
}

.lien {
  color: #26C4EC;
  text-decoration: none;
  cursor: pointer;
}

#textReseaux {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
}

#reseaux li a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 17px;
    text-align: left;
    color: white;
}

}
#reseau li a:hover {
    color: #ccc;
}

.lien:hover {
  color: gray;
  text-decoration: none;
}

.paragraphe {
    background-color: #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 20px;
    border-radius: 5px;
    border: solid 1px #ccc;
}
#leForm {
    background-color: #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 5px;
    border: solid 1px #ccc;
}

#positionSend {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
.btSend {
    cursor: pointer;
    margin-top: 15px;
    width: 150px;
    height: 30px;
    background-color: white;
    border: solid 1px #dddddd;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.btSend:hover {
    background-color: #fff;
    border: solid 1px #fff;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    color: #26c4ec;
}

#footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 15px;
    margin-top: 100px;
    border-top: solid 3px #ddd;
    -webkit-box-shadow: 0 0 5px #777;
    -moz-box-shadow: 0 0 5px #777;
    -o-box-shadow: 0 0 5px #777;
    -ms-box-shadow: 0 0 5px #777;
    box-shadow: 0 0 5px #777;
    background-color: white;
}

#footer p {
    margin-left: 600px;
    color: #444;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-top: 7px;
}

.textTop {
    padding-top: 27px;
    padding-left: 50px;
    font-size: 30px;
}

#divLogo {
    background-color: #26C4EC;
    border-radius: 100%;
    margin-left: 50px;
    margin-right: 50px;
    height: 150px;
    -webkit-box-shadow: 0 0 5px #777;
    -moz-box-shadow: 0 0 5px #777;
    -o-box-shadow: 0 0 5px #777;
    -ms-box-shadow: 0 0 5px #777;
    box-shadow: 0 0 5px #777;
}

#titreNav {
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    font-style: italic;
    padding-top: 60px;
}

.textNav {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 50px;
}

#global {
   overflow:auto;
}
#menu {
    padding-top: 70px;
    padding-bottom: 100%;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    background-color: #444;
    float:left;
    width:20%;
    border-right: solid 3px white;
    -webkit-box-shadow: 0 0 5px #777;
    -moz-box-shadow: 0 0 5px #777;
    -o-box-shadow: 0 0 5px #777;
    -ms-box-shadow: 0 0 5px #777;
    box-shadow: 0 0 5px #777;
}
#contenu {
    padding-top: 100px;
    padding-left: 50px;
    margin-left: 25%;
    margin-right: 9%;
    overflow:auto;
}

#menuDroite {
    padding-bottom: 120px;
}

#menuDroite li a {
    color: white;
    font-size: 20px;
    padding-left: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
#menuDroite li a:hover {
    background-color: white;
    color: #444444;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}

.recherche {
    padding-left: 10px;
    height: 30px;
    border: 3px solid;
    border-color: #E0E2E2;
    border-radius: 25px;
}

.recherche placeHolder {
    font-size: 20px;
}

.btRecherche {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #e0e2e3);
    background-image: -moz-linear-gradient(top, #ffffff, #e0e2e3);
    background-image: -ms-linear-gradient(top, #ffffff, #e0e2e3);
    background-image: -o-linear-gradient(top, #ffffff, #e0e2e3);
    background-image: linear-gradient(to bottom, #ffffff, #e0e2e3);
    margin-right: 10px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-size: 20px;
    padding: 7px 20px 7px 20px;
    border: solid #FFF 1px;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}

.btRecherche a {
    color: #444;
}

.btRecherche:hover {
    cursor: pointer;
    background: #ededed;
    text-decoration: none;
}

#formRecherche {
    margin-top: 18px;
    float: right
    position: fixed;
    margin-right: 100px;
}